.cms-card {
    width: 170px;
    height: 250px;
    margin-bottom: 32px;
  }

  .mat-card{
    display:flex;
    flex-direction: column;
  }
  
  .mat-card-header {
      display: flex;
      flex-direction: row;
      flex-shrink: 0; 
      margin-bottom: 5px;
  }
  
  .mat-card-content{
    flex-grow: 1;
    overflow: auto; 
  }
  .cms-header-image {
    background-size: cover;
    width:150px;
    height:200px;
  }
  
    
  .cms-container {
    height: 80%;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
  }
.mat-card-image{
  height: 160px;
  width: 170px;
  margin: 0px 0px 0px 0px;
}
.mat-card-image:first-child{
  margin-top: 0px !important;
}
.mat-card-actions {
  margin-left: 8px !important;
}
  .cms-cp-logo {
    width: 200px;
    height: 200px;
  }
  .cp-status-active {
    color: green  !important;
  }
  .cp-status-inactive {
    color: gray  !important;
  }
  .add-cp {
    cursor: pointer;
  }

  .btn-sec {
    margin-right: 3rem !important;
    text-align: right;
    margin-top: 1.5em;
  }
  .update-btn {
    margin: 5px;
  }
  .discard-btn {
    margin: 5px;
  }


  @media (max-width: 800px) {
    .btn-sec {
      margin-right: 1rem !important;
    }
  }
  @media (max-width: 600px) {
    .btn-sec {
      margin-right: 1rem !important;
    }
  }
  