<div class="cms-container">
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
            <mat-card  class="cms-card" 
            *ngFor="let cp of cps$ | async; index as i;">
            <div *ngIf="cp.id !== null">
                <mat-card-header>
                    <!-- <div mat-card-avatar>
                        <mat-icon mat-list-icon  *ngIf="cp.status"
                        class="cp-status-active">
                        stop_circle</mat-icon>
                        <mat-icon mat-list-icon *ngIf="!cp.status"
                        class="cp-status-inactive">
                        stop_circle</mat-icon></div> -->
                    <mat-card-title>{{cp.name}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image class="cms-cp-logo"
                    src={{cp.logoUrl}} alt="Logo of content provider">
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                    <button mat-button (click)="openEditConfirmModal(cp)">EDIT</button>
                    <button mat-button (click)="openSelectCPModal(cp)">SELECT</button> 

                    <!-- <button mat-button (click)="openDeleteConfirmModal(cp)">DELETE</button> -->
                    </mat-card-actions>

            </div>
            <div *ngIf="cp.id === null">
                <mat-card-header >
                    <div mat-card-avatar></div>  
                    <mat-card-title></mat-card-title>
                    </mat-card-header>
                    <img mat-card-image class="cms-cp-logo add-cp"
                    (click)="openEditConfirmModal(cp)"
                    src= "https://cdn.iconscout.com/icon/free/png-512/add-new-1439785-1214356.png">
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
            </div>   
        </mat-card>
</div>

    
    
</div>
