<h1 mat-dialog-title></h1>

  <div mat-dialog-content class="sub-dialog">
    <form [formGroup]="subForm" >
      <table class="add-sub">
        <tr>
          <td colspan="2">
            <mat-form-field>
              <input matInput placeholder="Name" 
              formControlName="name" required >
              <mat-error *ngIf="errorHandling('name', 'required')" > 
                Please enter the name of the subscription
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Price"  
              formControlName="price" required  type="number" min ="1" >
              <mat-error *ngIf="errorHandling('price', 'required') || errorHandling('price', 'min')"> 
                Price cannot be zero
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="number" placeholder="Duration (in days)"  
              formControlName="durationDays" required min="1" max="365" >
              <mat-error *ngIf="errorHandling('durationDays', 'required') || errorHandling('durationDays', 'min') || errorHandling('durationDays', 'max')"> 
                Duration should be between 1 and 365, inclusive
              </mat-error>    
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Start date</mat-label>
              <input matInput  [matDatepicker]="startpicker"
              formControlName="startDate" required disabled [min]="minStart">
              <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
              <mat-datepicker #startpicker disabled="false"></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field >
              <mat-label>End date</mat-label>
              <input matInput  [matDatepicker]="endpicker"
              formControlName="endDate" required disabled [min]="minEnd">
              <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
              <mat-datepicker #endpicker disabled="false"></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
              <label class="cms-sub" id="cms-sub">
                Is redeemable ? </label>&nbsp;&nbsp;&nbsp;
              <mat-radio-group aria-labelledby="cms-sub-radio-group-label"
                      class="cms-sub-radio-group" formControlName="isRedeemable" >
                          <mat-radio-button value="No" class="cms-sub">No</mat-radio-button>&nbsp; &nbsp;
                          <mat-radio-button value="Yes" class="cms-incentive-plan-type">Yes</mat-radio-button>
              </mat-radio-group>
          </td>
          <td>
            <mat-form-field>
              <input matInput placeholder="Redemption Value"  
              formControlName="redemptionValue" required  type="number" min ="1" [disableControl]="isNotRedeemable()">
              <mat-error *ngIf="errorHandling('redemptionValue', 'required') || errorHandling('redemptionValue', 'min')"> 
              Redemption value cannot be zero
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </div>
  

  <div mat-dialog-actions align="end">
    <button mat-raised-button type="button" class="discard-btn" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button [disabled]="!subForm.valid"
    color="primary" (click)="submitSubscription()">Save</button>

  </div>

  