<h1 mat-dialog-title></h1>
<form [formGroup]="subForm" (ngSubmit)="createSubscription()">
  <div mat-dialog-content>
    <table>
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="Name" 
            formControlName="name" required>
            <mat-error *ngIf="errorHandling('name', 'required')"> 
              You must provide a name
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="Price"  
            formControlName="price" required  type="number" min ="1">
            <mat-error *ngIf="errorHandling('price', 'required') || errorHandling('price', 'min')"> 
             Invalid price, should be greater than 0
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input matInput type="number" placeholder="Duration (in days)"  
            formControlName="durationDays" required min="1" max="365">
            <mat-error *ngIf="errorHandling('durationDays', 'required') || errorHandling('durationDays', 'min') || errorHandling('durationDays', 'max')"> 
              Invalid duration, should be between [1 - 365]
             </mat-error>    
            </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field >
            <mat-label>Start date</mat-label>
            <input matInput  [matDatepicker]="startpicker"
            formControlName="startDate" required disabled [min]="minStart">
            <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
            <mat-datepicker #startpicker disabled="false"></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field >
            <mat-label>End date</mat-label>
            <input matInput  [matDatepicker]="endpicker"
            formControlName="endDate" required disabled [min]="minEnd">
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker disabled="false"></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
    </table>
    
  </div>
  

  <div mat-dialog-actions>
    <button mat-button></button>
    <button mat-raised-button cdkFocusInitial [disabled]="!subForm.valid"
    color="primary">Create</button>

  </div>
</form>
  