.cms-action-buttons {
  margin: 0% 0% 3% 63%;
}

.cms-headers-align .mat-expansion-panel-header-title,
.cms-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.cms-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.cms-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.page-title{
  font-weight: bold;
}   
.cms-container {
  height: 80%;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 3%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
/* th.mat-header-cell {
position: sticky;
} */
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
padding-right: 0px !important
}
.cms-table-container {
  position: relative;
  max-height: 350px;
  overflow: auto;
  width: 100%;
}
.sub-dialog {
  min-height: 35vh !important;
}
.active-icon {
  color: #2196f3;
}
.inactive-icon {
  color: grey;
}
.cms-inactive {
  color : red;
}

.cms-active {
  color : green;
}

.create-btn {
  margin: 0% 0% 3% 0%;
}

::ng-deep .mat-form-field-infix {
  width: 150px !important;
}

.cms-sub-validation-errors {
  font-size: smaller;
  color:red;
}
 .btn-sec {
    margin-right: 3rem !important;
    text-align: right;
    margin-top: 1.5em;
  }
  .update-btn {
    margin: 5px;
  }
  .discard-btn {
    margin: 5px;
  }
  .text-inside {
    position: absolute;
    left: 5px;
    width: 100%;
  }
  @media (max-width: 800px) {
    .btn-sec {
      margin-right: 1rem !important;
    }
  }
  @media (max-width: 600px) {
    .btn-sec {
      margin-right: 1rem !important;
    }
  }