.cms-action-buttons {
  margin: 0% 0% 3% 63%;
}

.cms-headers-align .mat-expansion-panel-header-title,
.cms-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.cms-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.cms-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
   
.cms-container {
  height: 80%;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

.cms-inactive {
  color : red;
}

.cms-active {
  color : green;
}

.create-btn {
  margin: 0% 0% 3% 0%;
}

::ng-deep .mat-form-field-infix {
  width: 150px !important;
}

.cms-sub-validation-errors {
  font-size: smaller;
  color:red;
}
 .btn-sec {
    margin-right: 3rem !important;
    text-align: right;
    margin-top: 1.5em;
  }
  .update-btn {
    margin: 5px;
  }
  .discard-btn {
    margin: 5px;
  }
  .text-inside {
    position: absolute;
    left: 5px;
    width: 100%;
  }
  @media (max-width: 800px) {
    .btn-sec {
      margin-right: 1rem !important;
    }
  }
  @media (max-width: 600px) {
    .btn-sec {
      margin-right: 1rem !important;
    }
  }