<!-- <div class="commission-dialog-image-block">
    <img class="commission-dialog-image" src="../../../assets/images/retailer-commissions/commission-dialog-image.png">

</div> -->
<div class="commission-heading-block">
    <div class="commission-dialog-heading">
        Eros Now 20 Days
    </div>
    <div class="commission-dialog-sub-heading">
        98672XXXXX
    </div>
</div>

<div class="commission-value-block">
    <div class="commission-value-each">
        <div class="commission-value-value">
            1234567890-098
        </div>
        <div class="commission-value-attr">
            Transaction ID
        </div>
    </div>

    <div class="commission-value-each">
        <div class="commission-value-value">
            DD.MM.YYYY HH:MM
        </div>
        <div class="commission-value-attr">
            Timestamp
        </div>
    </div>

    <div class="commission-value-each">
        <div class="commission-value-value">
            Rs 20 
        </div>
        <div class="commission-value-attr">
            Order Value
        </div>
    </div>

    <div class="commission-value-each">
        <div class="commission-value-value commission-dialog-currency">
            Rs 10 
        </div>
        <div class="commission-value-attr">
            Commission
        </div>
    </div>
</div>

<div class="commission-dialog-support-block">
    Problem with the transaction ? <span class="get-help-link">Get Help</span>
</div>

<button class="commission-dialog-close" (click)="closeDialog()">Close</button>