
<div class="content-home">
    <div >
        <mat-card class="cms-login">
            <div class="cms-login-form">
                <h3><b>Sign up or Sign in</b></h3>
                <div>
                    <mat-form-field  class="cms-login-contact">
                        <mat-label>Country Code</mat-label>
                        <mat-select [(ngModel)]="selectedCountryCodeValue" name="countrycode">
                          <mat-option *ngFor="let ccode of countryCodes" [value]="ccode.value">
                            {{ccode.viewValue}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <form [formGroup]="loginForm">
                    <div>
                        <mat-form-field  class="cms-login-contact">
                            <mat-label>Phone Number</mat-label>
                            <input matInput  formControlName="contact" required maxlength="10" minlength="10">
                            <mat-icon matSuffix>phone</mat-icon>
                        </mat-form-field>
                    </div>
                    <br>
                    <div>
                        <mat-form-field  class="cms-login-contact">
                            <mat-label>OTP</mat-label>
                            <input matInput formControlName="otp" type="password" required autocomplete="off">
                            <mat-icon matSuffix>otp</mat-icon>
                        </mat-form-field>
                    </div>
                </form>
                <div>
                    <button mat-button color="primary" (click)="generateOTP()" [disabled]="phoneNoInvalid()" class="otp-click">
                        CLICK TO GET ONE TIME PASSWORD (OTP)
                    </button>
                </div>
               <br>
                <div *ngIf="otpVerifyErrorMessage" class="cms-login-validation-errors">
                    <mat-error> {{otpVerifyErrorMessage}}</mat-error>   
                </div>
                <div *ngIf="otpSendErrorMessage" class="cms-login-validation-errors">
                    <mat-error> {{otpSendErrorMessage}}</mat-error>   
               </div>
                
                <br>
                <div>
                    <button mat-raised-button color="primary" 
                    [disabled]="loginForm.invalid" (click)="verifyOTP()">Verify OTP</button>
                </div>
            </div>
        
        </mat-card>  
    </div>
         
        
</div>
