<div class="cms-container">

    <h2>
        {{audience}} INCENTIVE PLAN


        <button mat-raised-button color="primary" (click)="displayIncentivePlan()" style="float: right;"
        class="back-to-list">BACK</button> 
</h2>
<mat-card>
    <form [formGroup]="incentiveFormGroup">
        <div>
                <label class="type-label">Incentive Plan Type: </label>&nbsp;&nbsp;&nbsp;
                <mat-radio-group  formControlName="type"  aria-label="Select plan type"
                    [disableControl]="disablePlanChange()"> 
                    <mat-radio-button value="REGULAR" (click)="onPlanTypeChange($event)"
                    >
                    REGULAR PLAN</mat-radio-button>
                    <mat-radio-button *ngIf="this.audience === 'RETAILER'" value="MILESTONE" (click)="onPlanTypeChange($event)" 
                    >
                    MILESTONE PLAN</mat-radio-button>
                </mat-radio-group>
        </div>
        <br>
        <table class="plan-table">
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput placeholder="Plan Name" 
                        formControlName="name" required  [disableControl]="isPublished">
                        <mat-error *ngIf="f.name.invalid">Please enter the valid plan name</mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field *ngIf="audience === 'RETAILER'">
                        <mat-label>Retailer Partner</mat-label>
                        <mat-select  name="partner" formControlName="partner"
                        [disableControl]="disablePlanTypePartner || isPublished">
                        <mat-option *ngFor="let partner of partners" [value]="partner">
                            {{partner}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                   
                   
                </td>
            </tr>

            <tr>
                <td>
                    <mat-form-field >
                        <mat-label>Start date</mat-label>
                        <input matInput  [matDatepicker]="startpicker" disabled
                        formControlName="startDate" required  [min]="minStart">
                        <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                        <mat-datepicker #startpicker [disabled]="isPublished"></mat-datepicker>
                      </mat-form-field>
                </td>
                <td>
                    <mat-form-field >
                        <mat-label>End date</mat-label>
                        <input matInput  [matDatepicker]="endpicker" disabled
                        formControlName="endDate" required  [min]="minEnd">
                        <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                        <mat-datepicker #endpicker [disabled]=isPublished></mat-datepicker>
                      </mat-form-field>
                </td>
            </tr>
        </table> 
    </form>


    <button mat-stroked-button color="primary" type="button" [disabled]="isPublished || isIncentiveFormNotValid()" (click)="openDialog(null, null)"><mat-icon>add</mat-icon>Add Event</button>
    <br><br>
    <mat-error *ngIf="audience === 'CONSUMER'"><b>Please Note: Expense event/s will be added by default to every CONSUMER Incentive Plan</b></mat-error>
    <br>

    <div class="mat-elevation-z8">
        <div class="cms-table-container">
            <table mat-table [dataSource]="dataSource" matSort>     
            <!-- event type Column -->
            <ng-container matColumnDef="eventType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Event Type </th>
                <td mat-cell *matCellDef="let row"> {{row.eventType}} </td>
            </ng-container>
            <!-- event title Column -->
            <ng-container matColumnDef="eventTitle">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td mat-cell *matCellDef="let row"> {{row.eventTitle}} </td>
            </ng-container>
            <!-- content provider Column -->
            <ng-container matColumnDef="contentProvider">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contentprovider </th>
                <td mat-cell *matCellDef="let row"> {{row.eventSubTypeName}} </td>
            </ng-container>
            <!-- rule type Column -->
            <ng-container matColumnDef="ruleType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rule Type </th>
                <td mat-cell *matCellDef="let row"> {{row.ruleType}} </td>
            </ng-container>
            <!-- formula Column -->
            <ng-container matColumnDef="formula">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Formula </th>
                <td mat-cell *matCellDef="let row"> {{row.formula?.formulaType}} </td>
            </ng-container>
                <!-- Incentive Column -->
            <ng-container matColumnDef="firstOperand">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Operand </th>
                <td mat-cell *matCellDef="let row"> {{row.formula?.firstOperand}} </td>
            </ng-container>
            <!-- milestoneTarget Column -->
            <ng-container matColumnDef="secondOperand">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Second Operand</th>
                <td mat-cell *matCellDef="let row"> {{row.formula?.secondOperand}} </td>
            </ng-container>

            <ng-container matColumnDef="entity1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Retailer Partner </th>
                <td mat-cell *matCellDef="let row"> {{row.formula?.entity1Operand}} </td>
            </ng-container>
            <ng-container matColumnDef="entity2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ISV </th>
                <td mat-cell *matCellDef="let row"> {{row.formula?.entity2Operand}} </td>
            </ng-container>
            <ng-container matColumnDef="entity3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Content Provider</th>
                <td mat-cell *matCellDef="let row"> {{row.formula?.entity3Operand}} </td>
            </ng-container>
            <ng-container matColumnDef="entity4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Other </th>
                <td mat-cell *matCellDef="let row"> {{row.formula?.entity4Operand}} </td>
            </ng-container>

            <!-- View Column -->
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef> 
                    View
                    </th>
                <td mat-cell *matCellDef="let row ; let rowIndex = index" >
                    <button mat-icon-button 
                        (click)="openDetails(row, rowIndex )">
                    <!-- [disabled]="!row.status"> -->
                        <mat-icon mat-icon 
                        matTooltip="Show Details">visibility</mat-icon> 
                    </button>
                </td>
            </ng-container>
                <!-- edit Column -->
                <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> 
                    Edit
                    </th>
                <td mat-cell *matCellDef="let row ; let rowIndex = index" >
                    <button mat-icon-button [disabled]="isPublished || isExpensePlan(row)"
                        (click)="openDialog(row, rowIndex )">
                    <!-- [disabled]="!row.status"> -->
                        <mat-icon mat-icon 
                        matTooltip="Edit">edit</mat-icon> 
                    </button>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> 
                    Delete
                    </th>
                <td mat-cell *matCellDef="let row; let rowIndex = index" >
                    <button mat-icon-button [disabled]="isPublished || isExpensePlan(row)"
                        (click)="removeEvent(rowIndex)">
                        <mat-icon mat-icon 
                        matTooltip="Delete">delete</mat-icon> 
                    </button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <!-- <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4" *ngIf="input.value?.length>0">No data matching the filter "{{input.value}}"</td>
            </tr>  -->
            </table>
        </div>
        
        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>



    <br>
    
    <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary"  class="update-btn"
    (click)="createIncentive()"
    *ngIf="!isDraft && !isPublished" [disabled]="isIncentiveFormNotValid() || isEventFormNotValid()">
        Draft Plan
    </button>

    <!-- <button mat-raised-button color="primary"   class="update-btn"
    (click)="changeDate()"
    *ngIf="isPublished">
        Change End Date
    </button> -->
    <button mat-raised-button color="primary"   class="update-btn"
    (click)="updateDraftPlan()"
    *ngIf="isDraft" [disabled]="isIncentiveFormNotValid() || isEventFormNotValid()" >
        Update Plan
    </button>


    </div>
</mat-card>
</div>