


  #event-details-table  {
    font-size: smaller;
  }
  #event-details-table th {
      text-align: left;
      color: grey;
      font-weight:lighter;
      /* align-items: left; */
  }
  #event-details-table td {
    /* border:1px solid black; */
    /* border-radius: 10px; */
  }
.back-to-list {
    margin-right: 3%;
}
  
.cms-container-incentive {
    margin-left: 2%;
  }
  .incentive-event-table{
    width: 50%;
  }
  
  .cms-incentive-headers-align .mat-expansion-panel-header-title,
  .cms-incentive-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .cms-incentive-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .cms-incentive-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .type-label{
    color: grey
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .plan-table{
    width: 50%;
  }
.cms-spacer {
    flex: 1 1 auto;
  }

  .update-btn {
    margin: 5px;
  }
  .discard-btn {
    margin: 5px;
  }

  .cms-container {
    height: 80%;
    width: 90%;
    margin-left: 5%;
    margin-top: 0%;
    min-height: 750px;
  }
  
  table {
    width: 100%;
  }
  .incentive-table {
    width: 80%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 80%;
  }
 
  /* th.mat-header-cell {
  position: sticky;
  } */
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
  padding-right: 0px !important
  }
  .cms-table-container {
    position: relative;
    max-height: 350px;
    overflow: auto;
    width: 100%;
  }
  .rule-type-sum-note{
    font-size: x-small;
  }