<h1 mat-dialog-title>Event Details</h1>

  <div mat-dialog-content >
    <form [formGroup]="eventForm" >
      <!-- <mat-error *ngIf="isMileStonePlanType()" class="rule-type-sum-note">Please Note: The SUM based milestone incentives plan does the SUM on the incentives earned and hence it will work appropriately only if regular incentive plan exists for same event type and for the same period.  </mat-error> -->
      <table>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Event Type</mat-label>
              <mat-select  name="eventType" (ngModelChange)="onEventTypeChange()"
              formControlName="eventType"   >
              <mat-option *ngFor="let event of eventTypes" [value]="event" [disabled]="isExpenseEvent(event)">
                  {{event}}
              </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field >
                <input matInput placeholder="Event Title" 
                formControlName="eventTitle" required  >
                <mat-error >{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </td>
        <td>
          <mat-form-field >
            <mat-label>Content Provider</mat-label>
            <mat-select  name="contentProvider" 
            formControlName="eventSubType"
            [disableControl]="!showCP">
            <mat-option *ngFor="let cp of contentProviders" [value]="cp.contentProviderId">
                {{cp.name}}
            </mat-option>
            </mat-select>
        </mat-form-field>
        </td>
        </tr>
        <tr>
            <td>
              <mat-form-field >
                  <mat-label>Rule Type</mat-label>
                  <mat-select name="ruleType"
                  formControlName="ruleType" >
                  <mat-option *ngFor="let rule of ruleTypes" [value]="rule">{{rule}}
                  </mat-option>
                  </mat-select>
              </mat-form-field>
          </td>
          
          <td>
            <mat-form-field>
              <mat-label>Formula</mat-label>
              <mat-select name="formula"
              formControlName="formula"  
              (ngModelChange)="onFormulaChange()">
              <span *ngIf="isMileStonePlanType()">
                  <mat-option  *ngFor="let formula of milestoneFormulas" [value]="formula">
                      {{formula}}
                  </mat-option>
              </span>
              <span *ngIf="!isMileStonePlanType()">
                  <mat-option  *ngFor="let formula of regularFormulas" [value]="formula">
                      {{formula}} 
                  </mat-option>
              </span>
              
              </mat-select>
          </mat-form-field>
          </td>
          <td *ngIf="!isMileStonePlanType()">
            <mat-form-field >
                <input matInput placeholder="First Operand" 
                formControlName="firstOperand" required  >
                <mat-error >{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
          </tr>
          <tr  *ngIf="!isMileStonePlanType()">
            <td>
              <mat-form-field >
                <input matInput placeholder="Entity 1 " 
                formControlName="entity1Operand"   >
                <mat-error >{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </td>
            <td >
              <mat-form-field >
                <input matInput placeholder="Entity 2" 
                formControlName="entity2Operand"   >
                <mat-error >{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr  *ngIf="!isMileStonePlanType()">
            <td >
              <mat-form-field >
                <input matInput placeholder="Entity 3" 
                formControlName="entity3Operand"  >
                <mat-error >{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </td>
            <td >
              <mat-form-field >
                <input matInput placeholder="Entity 4" 
                formControlName="entity4Operand"  >
                <mat-error >{{getErrorMessage()}}</mat-error>
              </mat-form-field>
          </td>
        </tr>
        <tr *ngIf="isDivideFormulaType()">
            <td>
              <mat-form-field >
                  <input matInput placeholder="First Operand" 
                  formControlName="firstOperand" required  [disableControl]="isRangeFormulaType() || isViewOnly">
                  <mat-error >{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </td>
            <td >
              <mat-form-field >
                  <input matInput placeholder="Second Operand" 
                  formControlName="secondOperand" required  [disableControl]="isRangeFormulaType() || isViewOnly">
                  <mat-error >{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr *ngIf="isDivideFormulaType()">
            <td>
              <mat-form-field >
                <input matInput placeholder="Entity 1" 
                formControlName="entity1Operand"   >
                <mat-error >{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </td>  
            <td>
              <mat-form-field >
                <input matInput placeholder="Entity 2" 
                formControlName="entity2Operand"   >
                <mat-error >{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </td>  
          </tr>
          <tr *ngIf="isDivideFormulaType()">
            <td>
              <mat-form-field >
                <input matInput placeholder="Entity 3" 
                formControlName="entity3Operand"   >
                <mat-error >{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </td>  
            <td>
              <mat-form-field >
                <input matInput placeholder="Entity 4" 
                formControlName="entity4Operand"   >
                <mat-error >{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </td>           
        </tr>
      </table>
      <br>
      <button mat-stroked-button color="primary" 
      (click)="addRange()"  
      *ngIf="isMileStonePlanType() && isRangeFormulaType() && !isViewOnly">
          <mat-icon matTooltip="Add Range">add</mat-icon>
          Add Range
      </button>
      <br>
      <table *ngIf="isMileStonePlanType() && isRangeFormulaType()" class="range-table">
        <tr formArrayName="ranges"
        *ngFor="let range of getRanges(); let j = index;">
          <!-- <span > -->
          <span [formGroupName]="j">
            <td>
              <mat-form-field style="width:80px !important; padding-right: 20px;">
                <input matInput placeholder="Start" 
                formControlName="start" required   >
              </mat-form-field>
            </td>
            <td>
              <mat-form-field style="width:80px !important; padding-right: 20px;">
                <input matInput placeholder="End" 
                formControlName="end" required  >
              </mat-form-field>
            </td> 
            <td>
              <mat-form-field style="width:80px !important; padding-right: 20px;">
                <input matInput placeholder="Output" 
                formControlName="output" required>
              </mat-form-field>
            </td> 
            <td>
              <mat-form-field style="width:80px !important; padding-right: 20px;">
                <input matInput placeholder="Entity 1" 
                formControlName="entity1Output" >
              </mat-form-field>
            </td>  
            <td>
              <mat-form-field style="width:80px !important; padding-right: 20px;">
                <input matInput placeholder="Entity 2" 
                formControlName="entity2Output" >
              </mat-form-field>
            </td>  
            <td>
              <mat-form-field style="width:80px !important; padding-right: 20px;">
                <input matInput placeholder="Entity 3" 
                formControlName="entity3Output" >
              </mat-form-field>
            </td>  
            <td>
              <mat-form-field style="width:80px !important">
                <input matInput placeholder="Entity 4" 
                formControlName="entity4Output" >
              </mat-form-field>
            </td>    
            <td>
              <button mat-icon-button color="primary" *ngIf="(j!==0 || getTotalRanges()>=2)  && !isViewOnly"
                (click)="removeRange(j)">
                    <mat-icon>remove</mat-icon>
                </button>
            </td>
        <!-- </span>  -->
        </span>
        </tr>
      </table>
    </form>
  </div>
  

  <div mat-dialog-actions align="end" *ngIf="!isViewOnly">
    <button mat-raised-button [disabled]="eventForm.invalid"
    color="primary" (click)="addEvent()">Save</button>

  </div>

  