mat-form-field.mat-form-field {
    font-size: 12px;
    width: 140px;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  #event-details-table  {
    font-size: smaller;
  }
  #event-details-table th {
      text-align: left;
      color: grey;
      font-weight:lighter;
      /* align-items: left; */
  }
  #event-details-table td {
    /* border:1px solid black; */
    /* border-radius: 10px; */
  }
.back-to-list {
    margin-right: 3%;
}
  
.cms-container-incentive {
    margin-left: 2%;
  }
  .incentive-event-table{
    width: 50%;
  }
  
  .cms-incentive-headers-align .mat-expansion-panel-header-title,
  .cms-incentive-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .cms-incentive-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .cms-incentive-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .cms-incentive-plan-type-font{
    font-size: 12px;
    color: grey
  }
  
  .cms-incentive-plan-type-font{
    font-size: 12px;
  }
  
.cms-spacer {
    flex: 1 1 auto;
  }

  .update-btn {
    margin: 5px;
  }
  .discard-btn {
    margin: 5px;
  }