<h1 mat-dialog-title>Event Details</h1>

  <div mat-dialog-content >
    <form [formGroup]="eventForm" >
      <table>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Event Type</mat-label>
              <mat-select  name="eventType" (ngModelChange)="onEventTypeChange()"
              formControlName="eventType"  [disableControl]="isPublished">
              <mat-option *ngFor="let event of eventTypes" [value]="event">
                  {{event}}
              </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field >
                <input matInput placeholder="Event Title" 
                formControlName="eventTitle" required  [disableControl]="isPublished">
                <mat-error >{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </td>
        <td colspan="2">
          <mat-form-field *ngIf="showCP">
            <mat-label>Content Provider</mat-label>
            <mat-select  name="contentProvider" 
            formControlName="eventSubType"
            [disableControl]="isPublished">
            <mat-option *ngFor="let cp of contentProviders" [value]="cp.id">
                {{cp.name}}
            </mat-option>
            </mat-select>
        </mat-form-field>
        </td>
        </tr>
        <tr>
            <td>
              <mat-form-field >
                  <mat-label>Rule Type</mat-label>
                  <mat-select name="ruleType"
                  formControlName="ruleType"  [disableControl]="isPublished">
                  <mat-option *ngFor="let rule of ruleTypes" [value]="rule">{{rule}}
                  </mat-option>
                  </mat-select>
              </mat-form-field>
          </td>
          
          <td>
            <mat-form-field>
              <mat-label>Formula</mat-label>
              <mat-select name="formula"
              formControlName="formula"  [disableControl]="isPublished"
              (ngModelChange)="onFormulaChange()">
              <span *ngIf="isMileStonePlanType()">
                  <mat-option  *ngFor="let formula of milestoneFormulas" [value]="formula">
                      {{formula}}
                  </mat-option>
              </span>
              <span *ngIf="!isMileStonePlanType()">
                  <mat-option  *ngFor="let formula of regularFormulas" [value]="formula">
                      {{formula}} 
                  </mat-option>
              </span>
              
              </mat-select>
          </mat-form-field>
          </td>
         
        <td *ngIf="!isRangeFormulaType()">
            <mat-form-field >
                <input matInput placeholder="Incentive" 
                formControlName="incentive" required  [disableControl]="isPublished">
                <mat-error >{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </td>
        <td *ngIf="isDivideFormulaType()">
          <mat-form-field >
              <input matInput placeholder="Milestone target" 
              formControlName="milestoneTarget" required  [disableControl]="isPublished">
              <mat-error >{{getErrorMessage()}}</mat-error>
          </mat-form-field>
      </td>
        </tr>
      </table>
      <br>
      <button mat-stroked-button color="primary" 
      (click)="addRange()"  [disabled]="isPublished" 
      *ngIf="isMileStonePlanType() && isRangeFormulaType()">
          <mat-icon matTooltip="Add Range">add</mat-icon>
          Add Range
      </button>
      <br>
      <table *ngIf="isMileStonePlanType() && isRangeFormulaType()" class="range-table">
        <tr formArrayName="ranges"
        *ngFor="let range of getRanges(); let j = index;">
          <!-- <span > -->
          <span [formGroupName]="j">
            <td>
              <mat-form-field>
                <input matInput placeholder="Start" 
                formControlName="start" required  [disableControl]="isPublished">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="End" 
                formControlName="end" required  [disableControl]="isPublished">
              </mat-form-field>
            </td> 
            <td>
              <mat-form-field>
                <input matInput placeholder="Incentive" 
                formControlName="incentive" required  [disableControl]="isPublished">
              </mat-form-field>
            </td>   
            <td>
              <button mat-icon-button color="primary" *ngIf="j!==0 || getTotalRanges()>=2"
                (click)="removeRange(j)">
                    <mat-icon>remove</mat-icon>
                </button>
            </td>
        <!-- </span>  -->
        </span>
        </tr>
      </table>
    </form>
  </div>
  

  <div mat-dialog-actions align="end">
    <button mat-raised-button [disabled]="eventForm.invalid"
    color="primary" (click)="addEvent()">Save</button>

  </div>

  