
    <mat-tab-group color="primary" backgroundColor="grey" (selectedTabChange)="tabClick($event)">
        <mat-tab label="RETAILER" > 
            <br>
            <span *ngIf="showRetailerIncentive">
                <div class="cms-container">
                    <h4>
                        <button mat-raised-button color="primary"
                        (click)="openNewIncentivePage('RETAILER')">New Incentive</button>
                        <mat-button-toggle-group (change)="applyFilterRetailer($event)"#planTypeToggle="matButtonToggleGroup" style="float: right;">
                            <mat-button-toggle value="REGULAR" aria-label="REGULAR">
                              REGULAR
                            </mat-button-toggle>
                            <mat-button-toggle value="MILESTONE" aria-label="MILESTONE">
                              MILESTONE
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </h4>
                    
                    
                    <div mat-dialog-actions align="end">
                        
                    </div>
                    <mat-form-field>
                        <mat-label>Search Incentive</mat-label>
                        <input matInput (keyup)="applyFilterRetailer($event)" placeholder="Ex. Incentive Plan">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                    <!-- <span class="cms-spacer"></span>
                    <mat-form-field appearance="outline" >
                        <mat-label>Status</mat-label>
                        <mat-select [(ngModel)]="selectedStatusRetailer" name="status" (selectionChange)="applyFilterRetailer($event)">
                            <mat-option *ngFor="let s of statuses" [value]="s">
                            {{s}}
                            </mat-option>
                        </mat-select>
                        </mat-form-field> -->
                    <div class="mat-elevation-z8">
                        <div class="cms-table-container">
                            <table mat-table [dataSource]="dataSourceRetailers" class="incentive-table" matSort>
                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                    <td mat-cell *matCellDef="let row">{{row.name}} </td>
                                </ng-container>
                            
                                <!-- Type Column -->
                                <ng-container matColumnDef="type">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                                    <td mat-cell *matCellDef="let row"> {{row.type}} </td>
                                </ng-container>
            
                                
                                <!--Start  Date  Column -->
                                <ng-container matColumnDef="startDate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
                                    <td mat-cell *matCellDef="let row"> {{row.startDate | date: 'dd-MMM-yyy'}} </td>
                                </ng-container>
    
                                <!--End  Date  Column -->
                                <ng-container matColumnDef="endDate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
                                    <td mat-cell *matCellDef="let row"> {{row.endDate | date: 'dd-MMM-yyy'}} </td>
                                </ng-container>
            
                            <!-- Partner Column -->
                            <ng-container matColumnDef="partner">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Partner </th>
                                <td mat-cell *matCellDef="let row"> {{row.partner}} </td>
                            </ng-container>
            
                            <!-- Status Column -->
                            <ng-container matColumnDef="status" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                            </ng-container>
                            <!-- edit Column -->
                            <ng-container matColumnDef="edit">
                                <th mat-header-cell *matHeaderCellDef > Edit </th>
                                <td mat-cell *matCellDef="let row"> 
                                    <button mat-icon-button  (click)="editIncentivePlan(row, 'RETAILER')">
                                        <mat-icon mat-icon 
                                        matTooltip="Edit">edit</mat-icon> 
                                    </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="publish">
                                <th mat-header-cell *matHeaderCellDef > Publish </th>
                                <td mat-cell *matCellDef="let row"> 
                                    <button mat-icon-button  (click)="openPublishDialog(row, 'RETAILER')" [disabled]="row.status === 'PUBLISHED'">
                                        <mat-icon mat-icon 
                                        matTooltip="Publish">publish</mat-icon> 
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsRetailers; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsRetailers;"></tr>
            
                            </table>
                        </div>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                    </div>
                </div>
            </span>
            <span *ngIf="createRetailerIncentive">
                <!-- <button mat-icon-button color="primary" (click)="showIncentivePage('RETAILER')"><mat-icon>back</mat-icon></button> -->
                <app-add-incentive (newIncentiveEvent)="addIncentive('RETAILER')" [plan]="selectedPlan" audience='RETAILER'></app-add-incentive>
            </span>
            
        </mat-tab>
        <mat-tab label="CONSUMER"> 
            <br>
            <span *ngIf="showConsumerIncentive">
                
            <div class="cms-container">
                <h4>
                    <button mat-raised-button color="primary"
                    (click)="openNewIncentivePage('CONSUMER')">New Incentive</button>
                    <mat-button-toggle-group (change)="applyFilterConsumer($event)"#planTypeToggle="matButtonToggleGroup" style="float: right;">
                        <mat-button-toggle value="REGULAR" aria-label="REGULAR">
                          REGULAR
                        </mat-button-toggle>
                        <mat-button-toggle value="MILESTONE" aria-label="MILESTONE">
                          MILESTONE
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </h4>
                <!-- <div align="end">
                    <button mat-raised-button color="primary" class="create-incentive"
                    (click)="openNewIncentivePage('CONSUMER')">Create Incentive</button>
                </div> -->
                <!-- <br>
                <div mat-dialog-actions align="end">
                    <b>Filter: </b> <mat-button-toggle-group (change)="applyFilterConsumer($event)" #planTypeToggle="matButtonToggleGroup">
                        <mat-button-toggle value="REGULAR" aria-label="REGULAR">
                          REGULAR
                        </mat-button-toggle>
                        <mat-button-toggle value="MILESTONE" aria-label="MILESTONE">
                          MILESTONE
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div> -->
                <mat-form-field>
                    <mat-label>Search Incentive</mat-label>
                        <input matInput (keyup)="applyFilterConsumer($event)" placeholder="Ex. Incentive Plan">
                        <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
                  <!-- <mat-form-field appearance="outline" >
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="selectedStatusConsumer" name="status" (selectionChange)="applyFilterConsumer($event)">
                      <mat-option *ngFor="let s of statuses" [value]="s">
                        {{s}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  
                <div class="mat-elevation-z8">
                    <div class="cms-table-container">
                        <table mat-table [dataSource]="dataSourceConsumers" class="incentive-table" matSort>
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                <td mat-cell *matCellDef="let row">{{row.name}} </td>
                            </ng-container>
                        
                            <!-- Type Column -->
                            <ng-container matColumnDef="type" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                            <td mat-cell *matCellDef="let row"> {{row.type}} </td>
                            </ng-container>
        
                            
                            <!--Start  Date  Column -->
                            <ng-container matColumnDef="startDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
                                <td mat-cell *matCellDef="let row"> {{row.startDate | date: 'dd-MMM-yyy'}} </td>
                            </ng-container>

                            <!--End  Date  Column -->
                            <ng-container matColumnDef="endDate" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
                                <td mat-cell *matCellDef="let row"> {{row.endDate | date: 'dd-MMM-yyy'}} </td>
                            </ng-container>
        
        
                        <!-- Status Column -->
                        <ng-container matColumnDef="status" >
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                            <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                        </ng-container>
                        <!-- Edit Column -->
                        <ng-container matColumnDef="edit">
                            <th mat-header-cell *matHeaderCellDef > Edit </th>
                            <td mat-cell *matCellDef="let row"> 
                                <button mat-icon-button  (click)="editIncentivePlan(row, 'CONSUMER')">
                                    <mat-icon mat-icon 
                                    matTooltip="Edit">edit</mat-icon> 
                                </button>
                            </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="publish">
                            <th mat-header-cell *matHeaderCellDef > Publish </th>
                            <td mat-cell *matCellDef="let row"> 
                                <button mat-icon-button  (click)="openPublishDialog(row, 'CONSUMER')" [disabled]="row.status === 'PUBLISHED'">
                                    <mat-icon mat-icon 
                                    matTooltip="Publish">publish</mat-icon> 
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsConsumers; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsConsumers;"></tr>
        
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
            </span>
                

            <span *ngIf="createConsumerIncentive">
                <!-- <button mat-icon-button color="primary" (click)="showIncentivePage('CONSUMER')"><mat-icon>back</mat-icon></button> -->
                <app-add-incentive (newIncentiveEvent)="addIncentive('CONSUMER')" [plan]="selectedPlan" audience='CONSUMER'></app-add-incentive>
            </span>
        </mat-tab>
    </mat-tab-group>
    



