<mat-toolbar color="primary" class="cms-toolbar">
	<span>
		<div class="cms-app-name" *ngIf="currentUser && hasMenuAccess">
		<h1>Content Provider : {{selectedCPName}}</h1>
	</div></span>
	<span class="cms-menu-spacer"></span>
	<span><h1>BlendNet CMS</h1></span>
  <span class="cms-menu-spacer"></span>
  
  <button mat-icon-button  matTooltip="Logout" *ngIf="currentUser" (click)="logout()"><mat-icon>logout</mat-icon></button>

</mat-toolbar>
<mat-sidenav-container class="cms-container" autosize >
	<mat-sidenav  *ngIf="currentUser && hasMenuAccess" #sidenav class="cms-sidenav" mode="side" opened="true" >	
		<mat-nav-list>
			<mat-list-item class="parent">
				<span class="full-width" *ngIf="isExpanded"  [routerLink]="['/']">Home</span>
				<mat-icon mat-list-icon>home</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showHomeSubmenu}" *ngIf="isExpanded">
        		<a mat-list-item [routerLink]="['content-providers']">Content Providers</a>
				<a mat-list-item [routerLink]="['sas-key']">SAS Key</a>
				<a mat-list-item [routerLink]="['subscriptions']">Subscriptions</a>
      </div>
      <mat-list-item  class="parent">
				<span class="full-width" *ngIf="isExpanded">Content</span>
				<mat-icon mat-list-icon>local_movies</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showContentSubmenu}" *ngIf="isExpanded">
        <a mat-list-item [routerLink]="['unprocessed-content']">Unprocessed</a>
        <a mat-list-item [routerLink]="['processed-content']">Processed</a>
        <a mat-list-item [routerLink]="['broadcast-content']">Broadcast</a>
      </div>
      <mat-list-item class="parent">
				<span class="full-width" *ngIf="isExpanded">Devices</span>
				<mat-icon mat-list-icon>router</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showDeviceSubmenu}" *ngIf="isExpanded">
        <a mat-list-item [routerLink]="['devices']">Devices</a>
        <a mat-list-item [routerLink]="['manage-content']">Manage content</a>
      </div>
		</mat-nav-list>
    <mat-nav-list>
  </mat-nav-list>
</mat-sidenav>

	<div class="cms-sidenav-content">
		<router-outlet></router-outlet>
	</div>

</mat-sidenav-container>
