.cms-container {
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.position-fixed{
    position: fixed
  }
  .cms-content {
    margin-top: 70px
  }
.cms-sidenav-content {
    /* display: flex; */
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.cms-sidenav {
    user-select: none;
}
.cms-app-name{
    font-size: small;
}
.full-width {
    width: 100%;
}
.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}
.menu-button.rotated {
    transform: rotate(180deg);
}
.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
}
.submenu.expanded {
    transform: scaleY(1);
}
.cms-menu-spacer {
    flex: 1 1 auto;
}
.cms-profile {
    font-size: small;
}
.active {
    background-color: lightgray;
  }