<mat-toolbar *ngIf="!isAccessedViaPartnerApp && isLoggedIn" class="cms-toolbar">
	<div class="mishtu-logo">
        <img src="../{{baseHref}}/assets/mishtu-logo.png">
    </div>
	<div class="cms-toolbar-item">
		<div class="retailer-referral" *ngIf="hasRetailerAccess">
			<p class="retailer-referral-text">Referral Code: <span>{{referralCode}}</span></p>
			<mat-icon  class="referral-copy-icon" matTooltip="Copy to Clipboard" (click)="copiedConfirm()"
			[cdkCopyToClipboardAttempts]="20"
			[cdkCopyToClipboard]="">
				content_copy
			</mat-icon>
		</div>
	  
		<div class="cms-profile" *ngIf="!isAccessedViaPartnerApp && isLoggedIn">
			<span *ngIf="!hasRetailerAccess">{{currentUserName}}</span>
			<button mat-button [matMenuTriggerFor]="menu">
				<mat-icon style="margin-bottom: 3px;">more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu" xPosition="before">
				<button mat-menu-item [routerLink]="['/profile']">	
					<mat-icon>account_circle</mat-icon>
					<span>Profile</span>
				</button>
				<button mat-menu-item (click)="logout()">	
					<mat-icon>logout</mat-icon>
					<span>Logout</span>
				</button>
			</mat-menu>
		</div>
	</div>
</mat-toolbar>

<mat-sidenav-container [ngClass]="(!isAccessedViaPartnerApp && isLoggedIn) ? 'cms-container-height': 'cms-container' "   autosize  >
	<mat-sidenav  #sidenav class="cms-sidenav" mode="side" opened="true" *ngIf="!isAccessedViaPartnerApp && isLoggedIn">	
		<mat-nav-list>
			<div class="submenu" [ngClass]="{'expanded' : true}" *ngFor="let item of menu">
				<a mat-list-item
				 [routerLink]="[item.routerLink]" 
				 *ngIf="shouldShow(item.roles)"
				 [ngClass]="{'active': item.routerLink ? router.isActive(item.routerLink, true): false}">
				 <div class="cms-sidenav-details">
					<mat-icon mat-list-icon class="nav-icon">
						{{item.iconName}}</mat-icon>
						<span *ngIf="isExpanded" class="menu-side-text">{{item.displayName}}</span>
						<div *ngIf="!isExpanded" class="menu-small-text">{{item.closedName}}</div>
				 </div>
				</a>
      		</div>
		</mat-nav-list>
    <mat-nav-list>
  </mat-nav-list>
</mat-sidenav>
	<div  class="cms-sidenav-content">
		<router-outlet></router-outlet>
	</div>

</mat-sidenav-container>