.cms-container {
    height: calc(100vh - 63px);
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.position-fixed{
    position: fixed
  }
  .cms-content {
    margin-top: 70px
  }
.cms-sidenav-content {
    /* display: flex; */
    /* height: 100%; */
    width: 100%;
    align-items: center;
    justify-content: center;
}
.cms-sidenav {
    user-select: none;
}
.cms-app-name{
    font-size: small;
}
.full-width {
    width: 100%;
}
.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}
.menu-button.rotated {
    transform: rotate(180deg);
}
.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
}
.submenu.expanded {
    transform: scaleY(1);
}
.cms-menu-spacer {
    flex: 1 1 auto;
}
.cms-profile {
    font-size: small;
}
.active {
    background-color: lightgray;
  }

  .sidenav-toggler {
      cursor: pointer;
  }

  .menu-side-text {
      vertical-align: super;
  }

  .menu-small-text {
    font-size: 10px;
  }

  @media only screen and (max-width: 767px) {
    ::ng-deep .mat-list-item-content {
        padding-right: 0 !important;
      }

      ::ng-deep .cms-image {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  }