<mat-toolbar color="primary" class="cms-toolbar">
	<span>
		<div class="cms-app-name" *ngIf="currentUser && hasMenuAccess">
		<h1>Content Provider : {{selectedCPName}}</h1>
	</div></span>
	<span class="cms-menu-spacer"></span>
	<span><h1>BlendNet CMS</h1></span>
  <span class="cms-menu-spacer"></span>
  
    <div class="cms-profile" *ngIf="currentUser"><span>{{currentUserName}}</span>
		<button mat-button [matMenuTriggerFor]="menu">
			<mat-icon style="margin-bottom: 3px;">account_circle</mat-icon>
		</button>
		<mat-menu #menu="matMenu" xPosition="before">
			<button mat-menu-item (click)="logout()">	
				<mat-icon>logout</mat-icon>
    			<span>Logout</span>
			</button>
		</mat-menu>
	</div>

</mat-toolbar>
<mat-sidenav-container class="cms-container" autosize >
	<mat-sidenav  *ngIf="currentUser && hasMenuAccess" #sidenav class="cms-sidenav" mode="side" opened="true" >	
		<mat-nav-list>
			<!-- <mat-list-item class="parent"> -->
				<!-- <span class="full-width" *ngIf="isExpanded" 
				 [routerLink]="['/']">Home</span>
				<mat-icon mat-list-icon>home</mat-icon> -->
			<!-- </mat-list-item> -->
			<div class="submenu" [ngClass]="{'expanded' : true}">
				<a mat-list-item
				 [routerLink]="['/']"><mat-icon mat-list-icon>
					home</mat-icon>
					&nbsp;&nbsp;Home</a>
        		<a mat-list-item
				 routerLinkActive="active" 
				 [routerLink]="['content-providers']">
				 <mat-icon mat-list-icon>play_lesson</mat-icon>
				 &nbsp;&nbsp;Content Providers</a>
				<a mat-list-item
				 routerLinkActive="active" 
				 [routerLink]="['sas-key']">
				 <mat-icon mat-list-icon>vpn_key</mat-icon>
				 &nbsp;&nbsp;SAS Key</a>
				<a mat-list-item 
				 routerLinkActive="active" 
				[routerLink]="['subscriptions']">
				<mat-icon mat-list-icon>subscriptions</mat-icon>
				&nbsp;&nbsp;Subscriptions</a>
      <!-- </div> -->
      <!-- <mat-list-item  class="parent">
				<span class="full-width" *ngIf="isExpanded">Content</span>
				<mat-icon mat-list-icon>local_movies</mat-icon>
			</mat-list-item> -->
			<!-- <div class="submenu" [ngClass]="{'expanded' : true}"> -->
			<a mat-list-item 
			routerLinkActive="active" 
			[routerLink]="['unprocessed-content']">
			<mat-icon mat-list-icon>movie</mat-icon>
			&nbsp;&nbsp;Unprocessed</a>
			<a mat-list-item 
			routerLinkActive="active" 
			[routerLink]="['processed-content']">
			<mat-icon mat-list-icon>local_movies</mat-icon>
			&nbsp;&nbsp;Processed</a>
			<a mat-list-item 
			routerLinkActive="active" 
			[routerLink]="['broadcast-content']">
			<mat-icon mat-list-icon>live_tv</mat-icon>
			&nbsp;&nbsp;Broadcast</a>
      <!-- </div> -->
      <!-- <mat-list-item class="parent">
				<span class="full-width" *ngIf="isExpanded">Devices</span>
				<mat-icon mat-list-icon>router</mat-icon>
			</mat-list-item> -->
			<!-- <div class="submenu" [ngClass]="{'expanded' : true}" > -->
			<a mat-list-item 
			routerLinkActive="active" 
			[routerLink]="['devices']">
			<mat-icon mat-list-icon>router</mat-icon>
			&nbsp;&nbsp;Devices</a>
			<a mat-list-item 
			routerLinkActive="active" 
			[routerLink]="['manage-content']">
			<mat-icon mat-list-icon>manage_accounts</mat-icon>
			&nbsp;&nbsp;Manage content</a>

			
			
      </div>
		</mat-nav-list>
    <mat-nav-list>
  </mat-nav-list>
</mat-sidenav>

	<div class="cms-sidenav-content">
		<router-outlet></router-outlet>
	</div>

</mat-sidenav-container>
