
    <h2>{{data.heading}}</h2>
  <div>
    <mat-form-field>
      <input matInput placeholder="Device ID" 
     [(ngModel)]="deviceid" required  matTooltip="Please provide a device ID">
    </mat-form-field>
    
     
  
      <div  mat-dialog-actions align="end">
        <button mat-raised-button type="button" class="discard-btn" (click)="closeDialog()">Cancel</button>
        <button mat-raised-button type="submit" color="primary" class="update-btn" 
        [disabled]="deviceid==null" (click)="createDevice()"> Save </button>
      </div>

  </div>
