table {
    width: 100%;
  }
.cms-table{
    height: 50%;
}
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
	padding-right: 0px !important
}
.page-title{
  font-weight: bold;
} 
  
.cms-container {
  height: 80%;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 3%;
}

  .cms-table-container {
    position: relative;
    max-height: 550px;
    overflow: auto;
  }
  .btn-sec {
    margin-right: 3rem !important;
    text-align: right;
    margin-top: 1.5em;
  }
  .update-btn {
    margin: 5px;
  }
  .discard-btn {
    margin: 5px;
  }
  .filter-separator {
    border-top: 1px  grey;
  }

  .available-icon {
    color: #24945c;
  }
  .unavailable-icon {
    color: #f34d37;
  }

  .content-count{
    border: 1px solid #2196f3;
  }
    