<div class="cms-container">
    <h1>
        Broadcast Content
        <button  matTooltip="Refresh"  mat-stroked-button mat-icon-button  color="primary" (click)="getBroadcastContent()"
        style="float: right;">
       <mat-icon>refresh</mat-icon>
   </button>

    </h1>

<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Don" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <div class="cms-table-container">
        <table mat-table [dataSource]="dataSource" matSort>
    
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>

                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="toggleSelection($event, row)"
                                  [disabled] = "allowSelection(row)"
                                  [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let row">{{row.status}} </td>
            </ng-container>

            
         <!-- CreatedDate Column -->
         <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
            <td mat-cell *matCellDef="let row"> {{row.createdDate | date: 'short'}} </td>
        </ng-container>

         <!-- ModifiedDate Column -->
         <ng-container matColumnDef="modifiedDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified Date </th>
            <td mat-cell *matCellDef="let row"> {{row.modifiedDate | date: 'short'}} </td>
        </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Content Name </th>
                <td mat-cell *matCellDef="let row"> {{row.title}} </td>
            </ng-container>
        
            <!-- Stop Broadcast Action Column -->
            <ng-container matColumnDef="isBroadcastCancellable">
                <th mat-header-cell *matHeaderCellDef> 

                    Cancel broadcast
                </th>
                <td mat-cell *matCellDef="let row" >
                    <button mat-icon-button [disabled]="isBroadcastCancellable(row)" (click)="openBroadcastCancelModal(row)">
                        <mat-icon mat-list-icon 
                        matTooltip="Cancel Broadcast">cancel</mat-icon> 
                    </button>
                </td>
            </ng-container>

            <!-- Manage Device Action Column -->
            <!-- <ng-container matColumnDef="manageDevices">
                <th mat-header-cell *matHeaderCellDef> 
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manage
                </th>
                <td mat-cell *matCellDef="let row" >
                    <button mat-button color="primary">
                        Devices
                    </button>
                </td>
            </ng-container> -->
            
            <!-- View Action Column -->
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef> 
                    Meta-data
                    <!-- <button mat-icon-button disabled>
                        <mat-icon mat-list-icon >visibility</mat-icon> 
                    </button> -->
                </th>
                <td mat-cell *matCellDef="let row" >
                    <button mat-icon-button  (click)="viewContent(row)">
                        <mat-icon mat-list-icon 
                        matTooltip="View content">visibility</mat-icon> 
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="url">
                <th mat-header-cell *matHeaderCellDef> 
                    <!-- <button mat-icon-button disabled>
                        <mat-icon mat-list-icon  matTooltip="View URL">link</mat-icon> 
                    </button> -->
                    Dash URL
                </th>
                <td mat-cell *matCellDef="let row" >
                    <button mat-icon-button  (click)="viewURL(row)">
                        <mat-icon mat-list-icon 
                        matTooltip="View URL">link</mat-icon> 
                    </button>
                </td>
            </ng-container>
        
            <ng-container matColumnDef="broadcastDetails">
                <th mat-header-cell *matHeaderCellDef> 
                    <!-- <button mat-icon-button disabled>
                        <mat-icon mat-list-icon  matTooltip="View URL">link</mat-icon> 
                    </button> -->
                    Broadcast Details
                </th>
                <td mat-cell *matCellDef="let row" >
                    <button mat-icon-button  (click)="getBroadcastDetails(row)" [disabled]="showBroadcastDetails(row)">
                        <mat-icon mat-list-icon 
                        matTooltip="Broadcast Details">info</mat-icon>  
                    </button>
                </td>
            </ng-container>
        
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow >
                <td class="mat-cell" colspan="4" *ngIf="input.value?.length>0">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
    </div>
  
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>  
  