<form [formGroup]="cpForm">
      <h2>Add Content Provider</h2>
    <div>
      <mat-form-field>
        <input matInput placeholder="Name" 
        formControlName="cpname" required>
        <mat-error *ngIf="errorHandling('cpname', 'required')">
          You must provide a <strong>name</strong>
       </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Logo URL address"  
        formControlName="logoUrl">
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Admin" 
        formControlName="adminUpn">
        <button mat-icon-button matSuffix
       (click)="searchAndAddAdmin()"><mat-icon>search</mat-icon></button>
      </mat-form-field>
      <mat-error >
       {{adminSearchError}}
     </mat-error>
      
      
       <mat-chip-list #chipList>
        <mat-chip *ngFor="let admin of contentAdministrators" [selectable]="selectable" 
        [removable]="removable"
          (removed)="remove(admin)">
          {{admin.phoneNumber}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
<!-- 
       <mat-grid-list cols="2" rowHeight="85px" >
           <mat-grid-tile>
              <mat-form-field>
                <input matInput placeholder="Name" 
                formControlName="cpname" required>
                <mat-error *ngIf="errorHandling('cpname', 'required')">
                  You must provide a <strong>name</strong>
               </mat-error>
              </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field>
                <input matInput placeholder="Logo URL address"  
                formControlName="logoUrl">
              </mat-form-field>
          </mat-grid-tile>
        
          <mat-grid-tile>
              <mat-form-field >
                <input matInput placeholder="Admin" 
                formControlName="adminUpn">
              </mat-form-field>
              <mat-error >
               {{adminSearchError}}
             </mat-error>
              <button mat-icon-button 
               (click)="searchAndAddAdmin()"><mat-icon>search</mat-icon></button>
              
          </mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
          
          <mat-grid-tile>
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let admin of contentAdministrators" [selectable]="selectable" 
                [removable]="removable"
                  (removed)="remove(admin)">
                  {{admin.firstName}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
          </mat-grid-tile>
        </mat-grid-list> -->


        <div class="btn-sec">
          <button mat-raised-button type="button" class="discard-btn" (click)="closeDialog()">Cancel</button>
          <button mat-raised-button type="submit" color="primary" class="update-btn" 
          [disabled]="cpForm.invalid" (click)="saveOrUpdate()"> Save </button>
        </div>

    </div>
  </form>
  