table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
/* th.mat-header-cell {
  position: sticky;
} */
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
	padding-right: 0px !important
}

  
  .cms-container {
    height: 80%;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
  }

  .cms-table-container {
    position: relative;
    max-height: 300px;
    overflow: auto;
  }

  
  .btn-sec {
    margin-right: 3rem !important;
    text-align: right;
    margin-top: 1.5em;
  }
  .update-btn {
    margin: 5px;
  }
  .discard-btn {
    margin: 5px;
  }

  @media (max-width: 800px) {
    .btn-sec {
      margin-right: 1rem !important;
    }
  }
  @media (max-width: 600px) {
    .btn-sec {
      margin-right: 1rem !important;
    }
  }
  
  .file-upload-error {
    color: red;
  }
.content-detail-name {
  width: 20%;
  font-weight: bolder;
  color: grey;
}

.content-detail-value {
  padding-top: 5px;
  padding-bottom: 5px;
}
.content-detail-table {
  border: 1px;
  border-color: rgb(176, 176, 241);
  /* overflow-y: auto; */
  height: 75%;
}