.cms-image {
    background-image: url("./../../assets/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    padding-top: 45%;
  }
  
  .cms-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }