.retailer-home-container {
    margin: 20px;
}
.home-item {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    cursor: pointer;
}

.home-item span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #5C5C5C;
    margin-top: 12px;
}