.cms-container {
    height: 80%;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
  }

  .sas-key-button-row {
    text-align: left;
    }

.sas-key-button-row {
  text-align: left;
  }

.sas-key-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}
.sas-key-text-area {
  width: 90%;
}
.btn-sec {
  margin-right: 3rem !important;
  text-align: right;
  margin-top: 1.5em;
}
.update-btn {
  margin: 5px;
}
.discard-btn {
  margin: 5px;
}
  
.page-title{
  font-weight: bold;
}
