<div class="content-home">
    <div >
        <mat-card class="cms-login">
            <div align="center">
                <table>
                    <tr>
                        <th>
                            <button mat-raised-button color="primary" (click)="navigate('admin')">
                                Sign In as Admin
                            </button>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button mat-raised-button color="accent" (click)="navigate('retailer')">
                                Sign In as Retailer
                            </button>
                        </th>
                    </tr>
                </table>
                
                <br>

            </div>
        
    </mat-card>
    </div>
</div>
   
                           

                    
                        
               