<div class="content-home">
    <div >
            <mat-card class="cms-login">
                <div *ngIf="isContactOnlySection">
                    <div class="cms-login-form">
                        <h3><b>Sign up or Sign in</b></h3>
                    
                        <mat-form-field appearance="outline" class="cms-login-contact">
                            <mat-label>Phone Number</mat-label>
                            <input matInput [formControl]="contact" required>
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-error *ngIf="contact.invalid">{{getContactErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <br>
                        <div>
                            <button mat-raised-button color="primary" [disabled]="contact.invalid"
                            (click)="showCountryCodeSection()">Continue</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="isCountryCodeSection">
                    <div>
                        <button mat-button (click)="showContactOnlySection()"><mat-icon>arrow_left</mat-icon>Cancel</button>
                    </div>
                    <br><br>
                    <div class="cms-login-form">
                        <div>
                            <mat-form-field appearance="outline" class="cms-login-contact">
                                <mat-label>Country Code</mat-label>
                                <mat-select [(ngModel)]="selectedCountryCodeValue" name="countrycode">
                                  <mat-option *ngFor="let ccode of countryCodes" [value]="ccode.value">
                                    {{ccode.viewValue}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline" class="cms-login-contact">
                                <mat-label>Phone Number</mat-label>
                                <input matInput  [formControl]="contact" required>
                                <mat-icon matSuffix>phone</mat-icon>
                                <mat-error *ngIf="contact.invalid">{{getContactErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div *ngIf="otpSendErrorMessage">
                             <mat-error> {{otpSendErrorMessage}}</mat-error>   
                        </div>
                        <br>
                        <div>
                            <button mat-raised-button color="primary" 
                            (click)="showOTPSection()">
                            Continue</button>
                        </div>
                    </div>
                    
                        
                  
                </div>
                <div *ngIf="isOTPSection">
                    <div>
                        <button mat-button (click)="showCountryCodeSection()"><mat-icon>arrow_left</mat-icon>Cancel</button>
                    </div>
                    <br><br>
                    <div class="cms-login-form">
                        <b>Enter the OTP received on {{contact.value}}</b>
                        <mat-form-field appearance="outline" class="cms-login-contact">
                            <mat-label>Verification Code</mat-label>
                            <input matInput [formControl]="otp" required>
                            <mat-icon matSuffix>otp</mat-icon>
                            <mat-error *ngIf="otp.invalid">{{getOTPErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <div *ngIf="otpVerifyErrorMessage">
                            <mat-error> {{otpVerifyErrorMessage}}</mat-error>   
                       </div>
                        <div>
                            <button mat-raised-button color="primary" (click)="verifyOTP()">Continue</button>
                        </div>
                    </div>
                       
            
                   
                </div>
                
        
        </mat-card>
        
    </div>
         
        
</div>
