<div class="landing-wrapper">
    <div class="landing-profile-block-wrapper">
        <div class="landing-profile-name">
            {{partner.name}}  &nbsp;({{partnerCode}})
            
        </div>
        <div class="landing-profile-id">
            {{retailerPartnerProvidedId}}
        </div>
        <div class="landing-referral-code-wrapper">
            <div class="landing-referral-code">
                <div class="referral-code-inner">
                    Referral Code: <span class="actual-referral-code" >{{partner.referralCode}}</span>
                    <mat-icon  class="copy-icon referral-copy-icon" matTooltip="Copy to Clipboard" (click)="copiedConfirm()"
                        [cdkCopyToClipboardAttempts]="20"
                        [cdkCopyToClipboard]="partner.referralCode">
                        content_copy
                    </mat-icon>
                </div>
            </div>

        </div>

    </div>

    <div class="landing-page-slider" *ngIf="carouselInit">
        <ng-container>
                <div class="milestones-route-wrapper landing-total-milestone" [routerLink]="['retailer/milestones']">
                    <div class="milestones-route-inner">
                        <div class="milestones-value-wrapper">
                            <div class="milestones-value">
                                Rs. {{totalMilestoneEarnings}}
                            </div>
                            <div class="milestones-text">
                                Milestone <br> Earnings
                            </div>
                        </div>
                    </div>
                </div>    
        </ng-container>

        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let k of milestonesCarouselArr">
                <ng-template carouselSlide>
                    <div class="landing-each-offer">
                        <div class="each-offer-inner landing-each-offer-milestone {{ k.eventType === 'RETAILER_INCOME_REFERRAL_COMPLETED' ? 'referral-card':'commission-card'}}">
                            <img src="../../{{baseHref}}/assets/images/retailer/{{ k.eventType === 'RETAILER_INCOME_REFERRAL_COMPLETED' ? 'referral-trophy.png':'commission-trophy.png'}}">
                            <div class="landing-each-offer-milestone-inner">
                                <div class="each-offer-text-block">
                                    <span class="milestone-heading-1">Earn Rs. {{k.secondOperand}} Bonus</span> <br>
                                    <span>on every {{k.firstOperand}} {{k.eventType === 'RETAILER_INCOME_REFERRAL_COMPLETED' ? 'Referrals': 'Orders'}}</span>
                                </div>
                                <div *ngIf="k.value" class="milestones-achieved-block">
                                    <div class="milestones-achieved"><b>Milestones completed:</b> {{k.value/k.secondOperand}}</div>
                                    <div class="milestones-achieved"><b>Earnings: </b> {{k.value/k.secondOperand}} x {{k.secondOperand }} = Rs.{{k.value}}</div>    
                                </div>
                                <div class="milesone-progress">
                                    <div>Active Milestone</div>
                                    {{k.residualValue}}/{{k.firstOperand}} Complete
                                    <mat-progress-bar mode="determinate" value="{{k.progress}}"></mat-progress-bar>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>  
    
            </ng-container>
          </owl-carousel-o>    
    </div>
    <div class="landing-page-total-block-wrapper">
        <div class="landing-page-total-inner-wrapper">
            <div class="landing-page-currency-image-block">
                <img src="../../{{baseHref}}/assets/images/retailer-landing-page/rupee.jpg">
            </div>
            <div class="landing-page-total-value-block">
                <div class="total-value">
                    Rs. {{referralTotal + commissionsTotal}}
                </div>
                <div class="total-earnings-text">
                    Total Earnings
                </div>
            </div>
            <div class="landing-page-total-image-block">
                <mat-form-field appearance="fill" class="landing-page-total-image-block-field">
                    <mat-select (selectionChange)="monthSelected($event)" [(ngModel)]="monthSelect">
                      <mat-option *ngFor="let month of monthsDropDown" [value]="month">
                         {{month.monthName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
    </div>
    <div class="referrals-route-wrapper">
        <div class="referrals-route-inner" [routerLink]="['retailer/referrals']">
            <div class="referrals-value-wrapper">
                <div class="referrals-value">
                    Rs. {{referralTotal}}
                </div>
                <div class="referrals-text">
                    Referrals
                </div>
            </div>
        </div>
    </div>


    <div class="commission-route-wrapper">
        <div class="commission-route-inner" [routerLink]="['retailer/commissions']">
            <div class="commission-value-wrapper">
                <div class="commission-value">
                    Rs. {{commissionsTotal}}
                </div>
                <div class="commission-text">
                    Commision
                </div>
            </div>
        </div>
    </div>

    <div class="rates-route-wrapper">
        <div class="rates-route-inner" [routerLink]="['retailer/rates-incentives']">
            <div class="rates-value-wrapper">
                <div class="rates-value">
                    Rates & Incentives
                </div>
                <div class="rates-text">
                    
                </div>
            </div>
        </div>
    </div>
</div>