<h1 mat-dialog-title>Create Notification</h1>

    <form [formGroup]="notifFormGroup">  
      <ng-template>Add Details</ng-template>  
      <table class="notif-dialog-table">
        <tr>
          <td>
            <mat-form-field  fxFlex = 100%>
              <mat-label>Title</mat-label>
              <input matInput placeholder="Title" 
              formControlName="title" required>
              <mat-error *ngIf="errorHandling('title', 'required')"> 
                You must provide a title
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field  >
              <mat-label>Message</mat-label>
              <textarea matInput placeholder = "Message" class="notif-text-area"
              cdkTextareaAutosize formControlName="body" ></textarea>
              <mat-error *ngIf="errorHandling('body', 'required') "> 
               You must provide text
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field  fxFlex = 100%>
              <mat-label>Attachment</mat-label>
              <input matInput placeholder="attachmentUrl" 
              formControlName="attachmentUrl">
              <mat-error *ngIf="errorHandling('attachmentUrl', 'required')"> 
                You must provide a attachment url
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <!-- <tr>
        <td>
          <mat-form-field  fxFlex = 100%>
            <mat-label>Topic</mat-label>
            <input matInput placeholder="topic" 
            formControlName="topic" required>
            <mat-error *ngIf="errorHandling('topic', 'required')"> 
              You must provide a topic
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field  fxFlex = 100%>
            <mat-label>Type</mat-label>
            <input matInput placeholder="type" 
            formControlName="type" required>
            <mat-error *ngIf="errorHandling('type', 'required')"> 
              You must provide a type
            </mat-error>
          </mat-form-field>
        </td>
      </tr> -->
      <tr>
        <td>
          <mat-form-field >
            <mat-label>Tags</mat-label>
            <mat-chip-list #chipList aria-label="Tags selection">
              <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                       [removable]="removable" (removed)="remove(tag)">
                {{tag}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="New tag..."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)"
                     formControlName="tags"
                     >
            </mat-chip-list>
          </mat-form-field>


        </td>
      </tr>
     
      </table> 
      <div mat-dialog-actions align="end">
        <button [disabled]="!notifFormGroup.valid || tags.length < 1" mat-raised-button color="primary" (click)="createNotif()" >Create</button>
      </div>  
    </form>  
