<div class="referrals-main-block">
    <div class="referrals-heading">
        <img class="back-nav" (click)="navigateToHome()" src="../../{{baseHref}}/assets/images/retailer-referrals/back-nav.jpg">
        <div class="referrals-heading-text">Milestones</div>
    </div>
    <div class="landing-page-total-block-wrapper">
        
        <div class="landing-page-total-inner-wrapper">
            <div class="landing-page-currency-image-block">
                <img src="../../{{baseHref}}/assets/images/retailer-landing-page/rupee.jpg">
            </div>
            <div class="landing-page-total-value-block">
                <div class="referral-total-value">
                    Rs.{{totalMilestoneEarnings}}
                </div>
                <div class="total-earnings-text">
                    Total Earnings
                </div>
            </div>
        </div>
    </div>
    <div class="ongoing-milestones">
        <!-- <div class="ongoing-text">Ongoing Milestones</div> -->
        <!-- <div class="ongoing-milestones-block"> -->
                    <div *ngFor="let k of milestonesCarouselArr" class="landing-each-offer">
                        <div class="each-offer-inner landing-each-offer-milestone {{ k.referral ? 'referral-card':'commission-card'}}">
                            <img src="../../{{baseHref}}/assets/images/retailer/{{ k.referral ? 'referral-trophy.png':'commission-trophy.png'}}">
                            <div class="landing-each-offer-milestone-inner"> 
                                <div class="each-offer-text-block">
                                    <span class="milestone-heading">{{k.referral ? "" : contentProviders[k.contentProviderId] }} {{k.referral ? 'Referrals': 'Orders'}}</span> <br>
                                    <!-- <span class="milestone-heading-1">Earn Rs. {{k.secondOperand}} Bonus</span> <br> -->
                                    <span class="milestone-heading-1">Rs. {{k.value}}</span> Earned <br> 
                                    <span class="detailed-milestone-info">Rs.{{k.secondOperand}} on every 
                                        {{k.ruleType === 'SUM' ? "Rs." : "" }}{{k.firstOperand}}  {{k.referral ? 'Referrals': 'Orders'}} {{k.ruleType === 'SUM' ? " Commission earned" : "completed" }}</span>
                                    <!-- <span>on every {{k.firstOperand}}  {{k.ruleType === 'SUM' ? "Rs of earned on ": ""}}</span><br>
                                    <span>{{k.referral ? 'Referrals': 'Orders'}}</span> -->
                                </div>
                                <div *ngIf="k.value" class="milestones-achieved-block">
                                    <div class="milestones-achieved"><b>{{k.value/k.secondOperand}}</b> Completed</div>
                                    <!-- <div class="milestones-achieved"><b>Earnings: </b> {{k.value/k.secondOperand}} x {{k.secondOperand }} = Rs.{{k.value}}</div>     -->
                                </div>
                                <div class="milesone-progress">
                                    <!-- <div>Active Milestone</div> -->
                                    {{k.residualValue}}/{{k.firstOperand}} completed for the next Rs. {{k.secondOperand}}
                                    <mat-progress-bar mode="determinate" value="{{k.progress}}"></mat-progress-bar>
                                </div>
                            </div>
                            
                        </div>
                    </div> 
        </div>


    <!-- </div> -->
</div>
