<div class="referrals-main-block">
    <div class="referrals-heading">
        <img class="back-nav" (click)="navigateToDashboard()" src="../../{{baseHref}}/assets/images/retailer-referrals/back-nav.jpg">
        <div class="referrals-heading-text">Rates & Incentives</div>
    </div>
        <div *ngIf="ratesIncentivesReferrals.length" class="incentives-each-block">
            <div class="incentives-referral-block">
                <div class="incentives-referral-header-block">
                    <div class="referrals-route-wrapper">
                        <div class="referrals-route-inner">
                            <div class="incentive-text-type">
                                    Referrals
                                    <div class="incentive-validity">
                                        <span class="each-offer-valid-label">Valid till :</span>
                                        <span class="each-offer-valid-date">{{referralsValid}}</span>       
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="incentives-each-offer" *ngFor="let ratesIncentivesReferral of ratesIncentivesReferrals">
                    <div class="each-offer">
                        <div class="each-offer-inner referrals-each-offer-inner">
                            <div class="each-offer-text-block">
                                Earn Rs.{{ratesIncentivesReferral.formula.firstOperand}} on every completed Referral
                            </div>
                            <div class="each-offer-conversion">
                                1 Referral = Rs {{ratesIncentivesReferral.formula.firstOperand}} Earning
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="ratesIncentivesMilestones.length" class="incentives-each-block">
            <div class="incentives-referral-block">
                <div class="incentives-referral-header-block">
                    <div class="milestones-route-wrapper">
                        <div class="milestones-route-inner">
                            <div class="incentive-text-type">
                                    Milestones 
                                    <div>
                                        <span class="each-offer-valid-label">Valid till :</span>
                                        <span class="each-offer-valid-date">{{milestonesValid}}</span>    
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="incentives-each-offer" *ngFor="let milestone of ratesIncentivesMilestones">
                    <div class="each-offer" *ngIf="milestone.eventType === eventType['Retailer Referral']">
                        <div class="each-offer-inner milestones-each-offer-inner referral-milestone" *ngIf="milestone.ruleType!=='SUM'">
                            <div class="each-offer-text-block">
                                On every {{milestone.formula.firstOperand}} Referrals earn Rs.{{milestone.formula.secondOperand}} bonus
                            </div>
                            <div class="each-offer-conversion">
                            {{milestone.formula.firstOperand}} Referral/s = Rs.{{milestone.formula.secondOperand}} Earning
                            </div>
                        </div>
                        <div class="each-offer-inner milestones-each-offer-inner referral-milestone"  *ngIf="milestone.ruleType==='SUM'">
                            <div class="each-offer-text-block">
                                On every Rs.{{milestone.formula.firstOperand}} Referral commission earn Rs.{{milestone.formula.secondOperand}} bonus
                            </div>
                            <div class="each-offer-conversion">
                                Rs.{{milestone.formula.firstOperand}} Referral/s commission = Rs.{{milestone.formula.secondOperand}} Earning
                            </div>
                        </div>
                    </div>
                    <div class="each-offer" *ngIf="milestone.eventType === eventType['Retailer Order Complete']">
                        <div class="each-offer-inner milestones-each-offer-inner commission-milestone" *ngIf="milestone.formula.formulaType === 'RANGE' ">
                            <div class="each-offer-text-block">
                                {{contentProviders[milestone.eventSubType]}} - {{milestone.eventTitle}}
                            </div>
    
                            <div class="each-offer-conversion" *ngFor="let range of milestone.formula.rangeOperand">
                                <span *ngIf="milestone.ruleType!=='SUM'">
                                    {{range.startRange + '-' + range.endRange}} Order/s = Rs.{{range.output}} Earning
                                </span>
                                <span *ngIf="milestone.ruleType==='SUM'">
                                    Rs.{{range.startRange + '-' + range.endRange}} Order commission= Rs.{{range.output}} Earning
                                </span>
                            </div>
                        </div>
                        <div class="each-offer-inner milestones-each-offer-inner commission-milestone" *ngIf="milestone.formula.formulaType === 'DIVIDE_AND_MULTIPLY' && milestone.ruleType!=='SUM'">
                            <div class="each-offer-text-block">
                                On every {{milestone.formula.firstOperand}} {{contentProviders[milestone.eventSubType]}} order/s earn Rs.{{milestone.formula.secondOperand}} bonus
                            </div>
                            <div class="each-offer-conversion">
                                {{milestone.formula.firstOperand}} Order/s = Rs.{{milestone.formula.secondOperand}} Earning
                            </div>
                        </div>
                        <div class="each-offer-inner milestones-each-offer-inner commission-milestone" *ngIf="milestone.formula.formulaType === 'DIVIDE_AND_MULTIPLY' && milestone.ruleType==='SUM'">
                            <div class="each-offer-text-block">
                                On every Rs.{{milestone.formula.firstOperand}} {{contentProviders[milestone.eventSubType]}} order commission earn Rs.{{milestone.formula.secondOperand}} bonus
                            </div>
                            <div class="each-offer-conversion">
                                Rs.{{milestone.formula.firstOperand}} Order/s commission= Rs {{milestone.formula.secondOperand}} Earning
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="ratesIncentivesCommissions.length" class="incentives-each-block">
            <div class="incentives-referral-block">
                <div class="incentives-referral-header-block">
                    <div class="commission-route-wrapper">
                        <div class="commission-route-inner">
                            <div class="incentive-text-type">
                                    Commision
                                    <div>
                                        <span class="each-offer-valid-label">Valid till :</span>
                                        <span class="each-offer-valid-date">{{incentivesValid}}</span>    
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="incentives-each-offer" *ngFor="let ratesIncentivesCommission of ratesIncentivesCommissions">
                    <div class="each-offer">
                        <div class="each-offer-inner commissions-each-offer-inner">
                            <div class="each-offer-text-block">
                                Earn {{ratesIncentivesCommission.formula.formulaType !== 'PERCENTAGE'? 'Rs ':''}}
                                {{ratesIncentivesCommission.formula.firstOperand}}{{ratesIncentivesCommission.formula.formulaType === 'PERCENTAGE'? '%':''}} 
                                for every
                                {{contentProviders[ratesIncentivesCommission.eventSubType]}} order
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>



